html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    margin: 0 auto;
    max-width: 1100px;
    position: relative;
}

.buttons {
    padding: 14px 32px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: #ffffff;
    cursor: pointer;
    transition: .2s all linear;
}

/*main__pic start*/

.main__pic-desktop {
    position: absolute;
    right: -250px;
    top: -200px;
    z-index: -1;
}

.main__pic-tablet {
    display: none;
}

.main__pic-mobile {
    display: none;
}

/*main__pic start*/

/* header start */

header {
    height: 104px;
    margin-bottom: 148px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}

.header__button {
    background: #13183F;
}

.header__button:hover, .header__button:active, .header__button:focus {
    background: #666CA3;
}

/* header end */

/* main start */

main {
    margin-bottom: 250px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 460px;
}

.content__title {
    margin-bottom: 30px;
}

.content__title-text {
    color: #13183F;
    font-size: 56px;
    font-weight: 800;
    line-height: 70px;
}

.content__inform {
    margin-bottom: 40px;
    max-width: 445px;
}

.content__inform-text {
    color: #83869A;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}

.content__button {
    background: linear-gradient(#FF6F48, #F02AA6);
    padding: 19px 32px 16px 32px;
}

.content__button:hover, .content__button:active, .content__button:focus {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}
/* main end */


/* cards start */

.cards {
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
    padding-bottom: 140px;
}

.cards__grid {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(6, 1fr);
    row-gap: 80px;
    column-gap: 30px;
}

.card {
    grid-row: span 2;
    grid-column: span 2;
    border-radius: 15px;
    background-color: #ffffff;
    max-width: 350px;
    padding: 64px 32px 40px 32px;
    position: relative;
}

.first__card {
    background: linear-gradient(#FF6F48, #F02AA6);
}

.first__card-title {
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: #ffffff;
}

.card__thumb {
    position: absolute;
    top: -28px;
    left: 32px;
}

.card__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 218px;
}

.card__title {
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    color: #13183F;
    margin-bottom: 24px;
}

.card__inform {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #83869A;
    margin-bottom: 24px;
}

.card__button {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F74780;
    margin: auto 0 0 0;
}

.card__button:hover, .card__button:focus, .card__button:active {
    color: #FFA7C3;
}

/* cards end */

/* footer start */

footer {
    height: 120px;
    background: #13183F;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;
}

.footer__button {
    background: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
}

.footer__button:hover, .footer__button:active, .footer__button:focus {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
}

/* footer end */

/* tablet start */

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    .wrapper {
        max-width: 690px;
    }

    .buttons {
        padding: 9px 24px 11px 24px;
        font-size: 16px;
        line-height: 28px;
    }

    header {
        height: 96px;
        margin-bottom: 75px;
    }

    main {
        margin-bottom: 210px;
    }

    .main__pic-desktop {
        display: none;
    }
    
    .main__pic-tablet {
        display: block;
        position: absolute;
        right: -167px;
        top: -125px;
        z-index: -1;
    }

    .content {
        max-width: 398px;
    }

    .content__title {
        margin-bottom: 25px;
    }

    .content__title-text {
        font-size: 40px;
        line-height: 50px;
    }
    
    .content__inform {
        margin-bottom: 24px;
        max-width: 398px;
    }
    
    .content__inform-text {
        font-size: 16px;
        line-height: 26px;
    }

    .content__button {
        padding: 14px 37px;
    }

    .cards {
        padding-bottom: 86px;
    }

    .cards__grid {
        row-gap: 56px;
        column-gap: 11px;
    }


    .card {
        grid-row: span 2;
        grid-column: span 3;
        border-radius: 15px;
        background-color: #ffffff;
        max-width: 350px;
        padding: 64px 32px 40px 32px;
        position: relative;
    }      

    .footer {
        padding: 36px 0;
    }
}

@media screen and (max-width: 375px) {
    .wrapper {
        max-width: 343px;
    }

    .main__pic-desktop {
        display: none;
    }

    .main__pic-tablet {
        display: none;
    }

    .main__pic-mobile {
        display: block;
        vertical-align: middle;
    }
}