body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    margin: 0 auto;
    max-width: 1100px;
    position: relative;
}

.buttons {
    padding: 14px 32px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    color: #ffffff;
    cursor: pointer;
    transition: .2s all linear;
}


.main__pic {
    position: absolute;
    right: -250px;
    top: -200px;
    z-index: -1;
}

/* header start */

header {
    height: 104px;
    margin-bottom: 148px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}

.header__button {
    background: #13183F;
}

.header__button:hover, .header__button:active, .header__button:focus {
    background: #666CA3;
}

/* header end */

/* main start */

main {
    margin-bottom: 250px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 460px;
}

.content__title {
    margin-bottom: 30px;
}

.content__title-text {
    color: #13183F;
    font-size: 56px;
    font-weight: 800;
    line-height: 70px;
}

.content__inform {
    margin-bottom: 40px;
    max-width: 445px;
}

.content__inform-text {
    color: #83869A;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
}

.content__button {
    background: linear-gradient(#FF6F48, #F02AA6);
    padding: 19px 32px 16px 32px;
}

.content__button:hover, .content__button:active, .content__button:focus {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}
/* main end */


/* cards start */

.cards {
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
    padding-bottom: 140px;
}

.cards__grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    row-gap: 80px;
    column-gap: 30px;
}

.card {
    border-radius: 15px;
    background-color: #ffffff;
    max-width: 350px;
    padding: 64px 32px 40px 32px;
    position: relative;
}

.first__card {
    background: linear-gradient(#FF6F48, #F02AA6);
}

.first__card-title {
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    color: #ffffff;
}

.card__thumb {
    position: absolute;
    top: -28px;
    left: 32px;
}

.card__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 218px;
}

.card__title {
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    color: #13183F;
    margin-bottom: 24px;
}

.card__inform {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #83869A;
    margin-bottom: 24px;
}

.card__button {
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F74780;
    margin: auto 0 0 0;
}

/* cards end */

/* footer start */

footer {
    height: 120px;
    background: #13183F;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 0;
}

.footer__button {
    background: linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
}

.footer__button:hover, .footer__button:active, .footer__button:focus {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
}

/* footer end */

/* tablet start */

@media screen and (max-width: 768px) {
    .wrapper {
        max-width: 690px;
    }

    
}